@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Inter:wght@400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-h1: "Poppins", sans-serif;
  --font-h2: "Poppins", sans-serif;
  --font-h3: "Poppins", sans-serif;
  --font-body-lg: "Inter", sans-serif;
  --font-body-md: "Inter", sans-serif;
  --font-label-md: "Inter", sans-serif;
  --font-caption: "Inter", sans-serif;

  --color-primary: #003833;
  --color-on-primary: #ffffff;
  --color-primary-container: #1b4f4a;
  --color-on-primary-container: #8dbfb9;
  
  --color-secondary: #755b00;
  --color-on-secondary: #ffffff;
  --color-secondary-container: #fed977;
  --color-on-secondary-container: #785d00;

  --color-tertiary: #31312d;
  --color-on-tertiary: #ffffff;
  --color-tertiary-container: #484743;
  --color-on-tertiary-container: #b7b5b0;

  --color-error: #ba1a1a;
  --color-on-error: #ffffff;
  --color-error-container: #ffdad6;
  --color-on-error-container: #93000a;

  --color-background: #f9faf8;
  --color-on-background: #191c1c;

  --color-surface: #f9faf8;
  --color-on-surface: #191c1c;
  --color-surface-variant: #e2e3e1;
  --color-on-surface-variant: #404847;

  --color-outline: #707977;
  --color-outline-variant: #c0c8c6;

  --color-surface-container-low: #f3f4f2;
  --color-surface-container-high: #e7e8e7;
  --color-surface-container-highest: #e2e3e1;
  --color-surface-container: #edeeed;
  --color-surface-container-lowest: #ffffff;

  --radius-full: 0.75rem;
  --radius-xl: 0.5rem;
  --radius-lg: 0.25rem;

  --spacing-lg: 48px;
  --spacing-md: 24px;
  --spacing-sm: 12px;
  --spacing-base: 8px;
  --spacing-xs: 4px;
  --spacing-xl: 80px;
  --spacing-container-margin: 20px;
  --spacing-gutter: 16px;
}

@layer base {
  body {
    @apply bg-background font-body-md text-on-background selection:bg-secondary-container antialiased;
  }
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.active-swatch {
  outline: 3px solid #003833;
  outline-offset: 2px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}